*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("image/background-img.svg");
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: -15px;
}
.formdiv {
    display: flex;
}
.signform {
    margin: 60px 10px 10px 129px;
    width: 532px;
    height: 410px;
    /* background-color: aqua; */
}
.signbtn {
    text-align: center;
    width: 120px;
    height: 44px;
    margin-left: 164px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #1A942D;
}
.signbtn:hover{
    background-color: white;
    color: #002F07;
    border: #002F07;
    box-shadow: 2px 2px 10px rgb(151, 151, 151);
}
.Password {
    /* border-color: #A3B6A7; */
    color: black;
    border: none;
    height: 41px;
    width: 441px;
    border-radius: 10px;
}
.Confirmpassword{
    color: black;
    border: none;
    border-radius: 10px;
    height: 41px;
    width: 441px;
}
.email {
    color: black;
    border: none;
    border-radius: 10px;
    height: 41px;
    width: 441px;
}
.Firstname {
    color: black;
    border: none;
    height: 41px;
    width: 200px;
    border-radius: 10px;
}
.LastName{
    color: black;
    border: none;
    height: 41px;
    width: 200px;
    border-radius: 10px;
}
.lastnameDiv{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 28px;;
}
input{
    box-shadow: 2px 2px 10px rgb(151, 151, 151);
    padding-left: 10px;
    font-size: 14px;
}
input:focus{
    outline: none;
    box-shadow: 10px 10px 20px rgb(151, 151, 151);
}
.checkbox{
    display: flex;

}
input[type='checkbox']{
    height: 15px;
    width: 15px;
    box-shadow: none;
}
img.illustor {
    margin: 94px 10px 10px 31px;
    width: 100%;
    height: 373px;
}
h1.AccountText {
    margin-top: 40px;
    margin-left: 220px;
    margin-bottom: -42px;
    color: #002F07;
}
img.logo {
    margin: 10px 10px 10px 20px;
}
label {
    color: #1A942D;
}
.color {
    color: red;
}
p.checkboxtext {
    margin-left: 10px;
    color: #002F07;
}
p.add-login {
    margin-left: 103px;
    color: #002F07;
    margin-top: 10px;
}
a.add-login-a {
    margin-left: 10px;
    color: red;
    text-decoration: none;
}
input:invalid{
    animation: shake 300ms;
    color: red;

  }
  @keyframes shake{
    25%{
      transform: translateX(4px);
    }
    50%{
      transform: translateX(-4px);
    }
    75%{
      transform: translateX(4px);
    }
  }
  .Passwordalat{
    color: red;
  }
  i.fa-solid.fa-eye-slash {
    position: relative;
    left: -36px;
}

.show{
    display: block;
}
span.passwordiconsee {
    position: absolute;
    left: 543px;
    top: 357px;
    display: none;
}