@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap%27');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
    background-image: url("images/Rectangle\ 28.svg");
    background-repeat: no-repeat;
    background-position-y: -15px;
}
.user_alert{
    font-family: 'Karla', sans-serif;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 68%);
    transition: all 0.3s linear;
    padding: 21px;
    width: 26%;
    text-align: center;
    color: red;
    margin-left: 769px;
    margin-top: 43px;
    display: block;
    position: absolute;
    visibility: hidden;
}

.visible{
    visibility: visible;
}
.container{
    display: flex;
}
img.illustration {
    height: 395px;
    width: 396px;
    margin: 150px 10px 0px 73px;
    padding: 10px 10px 10px 10px;
}
form.loginform {
    height: 257px;
    width: 458px;
    margin-top: 50px;
    margin-left: 60px;
}
input{
    box-shadow: 2px 2px 10px rgb(151, 151, 151);
    padding-left: 10px;
    font-size: 14px;
}
input:focus{
    outline: none;
    box-shadow: 10px 10px 20px rgb(151, 151, 151);
}
.email {
    height: 47px;
    width: 413px;
    border-radius: 20px;
    border: none;
}
.password {
    height: 47px;
    width: 413px;
    border-radius: 20px;
    border: none;
}

h1.headtext {
    margin-top: 140px;
    margin-left: 100px;
    color: #002F07;
}
.hearpara {
    margin-left: 105px;
    margin-top: 5px;
    color: #1A942D;
}
label{
    color: #1A942D;
}
button {
    text-align: center;
    width: 120px;
    height: 44px;
    margin-left: 150px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #1A942D;
}
button:hover{
    background-color: white;
    color: #002F07;
    border: #002F07;
    box-shadow: 2px 2px 10px rgb(151, 151, 151);
}
img.logos {
    margin: 10px 10px 10px 15px;
}
.main2 {
    margin-left: 62px;
}
.labels{
    color: red;
}
p.add-singup {
    margin-left: 192px;
    color: #002F07;
    margin-top: -15px;
}
a.add-login-a {
    margin-left: 10px;
    color: red;
    text-decoration: none;
}

input:invalid {
    animation: shake 300ms;
    color: red;

}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }
}
i#passwordicon {
    position: relative;
    left: -36px;
}
span.passwordiconsee {
    position: absolute;
    right: 136px;
    top: 376px;
    display: none;
}