*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("images/Rectangle\ 28.svg");
    background-repeat: no-repeat;
    background-position-y: -15px;
}
.container{
    display: flex;
}
img.illustration {
    height: 395px;
    width: 396px;
    margin: 150px 10px 0px 73px;
    padding: 10px 10px 10px 10px;
}
form.loginform {
    height: 257px;
    width: 458px;
    margin-top: 50px;
    margin-left: 60px;
}
input{
    box-shadow: 2px 2px 10px rgb(151, 151, 151);
    padding-left: 10px;
    font-size: 14px;
}
input:focus{
    outline: none;
    box-shadow: 10px 10px 20px rgb(151, 151, 151);
}
.email {
    height: 47px;
    width: 413px;
    border-radius: 20px;
    border: none;
}
.password {
    height: 47px;
    width: 413px;
    border-radius: 20px;
    border: none;
}

h1.headtext {
    margin-top: 150px;
    margin-left: 100px;
    color: #002F07;
}
.hearpara {
    margin-left: 105px;
    margin-top: 5px;
    color: #1A942D;
}
label{
    color: #1A942D;
}
button {
    text-align: center;
    width: 120px;
    height: 44px;
    margin-left: 150px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #1A942D;
}
button:hover{
    background-color: white;
    color: #002F07;
    border: #002F07;
    box-shadow: 2px 2px 10px rgb(151, 151, 151);
}
img.logos {
    margin: 10px 10px 10px 15px;
}
.main2 {
    margin-left: 62px;
}
.labels{
    color: red;
}
p.add-singup {
    margin-left: 192px;
    color: #002F07;
    margin-top: -15px;
}
a.add-login-a {
    margin-left: 10px;
    color: red;
    text-decoration: none;
}
i#passwordicon {
    position: relative;
    left: -36px;
}
span.passwordiconsee {
    position: absolute;
    right: 136px;
    top: 376px;
    display: none;
}